Package Control.cache
oscrypto-ca-bundle.crt
Package Control.last-run
Package Control.merged-ca-bundle
Package Control.user-ca-bundle
Default (OSX).sublime-keymap
Package Control.sublime-settings
Preferences.sublime-settings
View In Browser.sublime-settings
